*.c
*.so

/CICIDDoS19/build
/CICIDDoS19/Data
/CICIDDoS19/External
/CICIDDoS19/__pycache__

/CICIDS17/build
/CICIDS17/Data
/CICIDS17/External
/CICIDS17/__pycache__

/CICIDDoS19/Dict_CICDDoS19.npy
/CICIDDoS19/Dict_CICIDS17.npy
/CICIDS17/Dict_CICIDS17.npy
/CICIDS17/Dict_CICDDoS19.npy
/CICIDS17/pre_processed.zip

CIDDS001/__pycache__
