/KDDCup99/kddcup.data_10_percent*
/KDDCup99/corrected*
/KDDCup99/y_kddcup.data_10_percent_discretized
/KDDCup99/X_kddcup.data_10_percent_discretized
/KDDCup99/y_kddcup.data_10_percent_corrected_discretized
/KDDCup99/X_kddcup.data_10_percent_corrected_discretized
/KDDCup99/y_corrected_discretized
/KDDCup99/X_corrected_discretized
/KDDCup99/__pycache__
*.pdf
*.npy
*.so
*.c
*.png
